/* default page styling */
* {
    margin: 0;
    box-sizing: border-box;
}
header, footer, body {
    background-color: lightgreen;
}
header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 2vw;
    padding-left: 2vw;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    height: 100vh;
}
main{
    background-color: lightgoldenrodyellow;
    width: 70%;
    margin: 0;
    padding: 3% 5%;
    height: 100vh;
}

nav {
    background-color: pink;
    width: 30%;
    margin: 0;
    padding: 0;
}
nav ul {
    margin-top: 2vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vw;
}
nav li {
    width: 85%;
    background-color: bisque;
    padding: 1vw 2vw;
    align-content: stretch;
    justify-content: center;
}
nav a {
    display: block;
    font-size: calc(5px + 2vw);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 2%;
    font-size: calc(8px + 2vw);
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw 2vw;
    align-content: center;
    line-height: 2vw;
}

@media screen and (max-width: 750px) {
    /* make title in the middle of the page */
    header {
        font-size: calc(5px + 2vw);
        text-align: center;
    }

    /* make nav bar on top of main */
    #content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    main {
        width: 100%;
    }

    nav {
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
    }

    nav ul {
        margin: 0;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    nav li {
        list-style: none;
        width: 16vw;
        text-align: center;
    }

    nav a {
        margin: 0;
        padding: 0;
        font-size: calc(1px + 2vw);
    }

    .text-wrapper {
        flex-direction: column;
        width: 100%;
        line-height: 6vw;
        margin: 3vw;
        font-size: calc(1px + 2vw);
    }


}